.container {
    width: 100%;
    max-width: 380px;
    padding: 1.5rem;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.authPage {
    width: 100%;
    color: #fff;
    text-align: center;
}

.input__wrapper {
    width: 100%;
    margin-top: 1rem;
}

input {
    text-align: center;
    color: #fff;
    background-color: #1d232700;
    padding: 0.1rem 0.5rem 0.3rem 0.5rem;
    font-size: 1.2rem;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    &:focus {
        outline: none;
    }
}

h3 {
    text-align: center;
    margin-bottom: 2rem;
}

.auth__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn_auth {
    background-color: rgba(255, 255, 255, 0);
    margin-top: 1.6rem;
    padding: 0.2rem 1rem 0.3rem 1rem;
    color: #3b61b9;
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;
    border: 2px solid #3b61b9;
    border-radius: 0.5rem;
    transition: 0.3s all;
    &:hover {
        background-color: #3b61b9;
        color: #191e21;
    }
}

.registration {
    margin-top: 1rem;
    text-decoration: none;
    color: #fff;
    opacity: 0.7;
    transition: 0.3s all;
    &:hover {
        opacity: 1;
    }
}

.error {
    margin-top: 1rem;
    color: #ad3436;
}